main h1{
    text-align: center;
    
}
.maison{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    gap: 25px;
    padding-left: 10%;
    padding-right: 10%;
}
.maison img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid white 1px;
    border-radius: 5px;

}
main h2{
    font-size: 1em;
    color: white;
    text-align: end;
    margin-right: 10%;
}
main h2:hover{
    text-decoration: none;
    text-shadow: white 0 0 20px ;
}
main h2:active{
    text-decoration: none;
}
